@tailwind base;
@tailwind components;
@tailwind utilities;

.active-player video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.inactive-player video {
  position: relative;
  top: 0;
  right: 0;
  width: 10%;
  height: 10%;
  border-radius: 70px;
  padding: 2rem;
}
.usericon-active-player {
  top: 10px;
  padding: 2rem;
  width: 90%;
  height: 90%;
}
.usericon-inactive-player {
  padding: 2.5rem;
  width: 95%;
  height: 95%;
}
.mute-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4rem;
  top: 3rem;
}
.p-mute {
  border-radius: 70px;
  background-color: rgba(52, 52, 52, 0.8);
  color: white;
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 8px;
  font-weight: 400;
  padding: 0.5rem;
}
.hidden {
  display: none;
}
